.mobile-menu {
  translate: -100% 0;

  inline-size: 100%;
  block-size: 100dvh;
  margin: unset;
  padding: var(--munu-padding);
  border: none;

  color: var(--clr-fg);

  background-color: var(--clr-bg);

  transition:
    translate var(--transition-md),
    display var(--transition-md),
    overlay var(--transition-md);

  /* for animation descret values like display & overlay */
  transition-behavior: allow-discrete;

  &::backdrop {
    background-color: color-mix(in srgb, var(--clr-bg) 0%, transparent);
    backdrop-filter: blur(0);
    transition:
      overlay var(--transition-md),
      background-color var(--transition-md);
  }

  &:popover-open {
    translate: 0 0;

    @starting-style {
      translate: -100% 0;
    }

    /*
    popover default display: none

    Place  display: grid here to remove popover content from access tree
     */

    display: grid;
    grid-auto-rows: min-content;
    align-items: start;

    /* animate backdrop when popover open */
    &::backdrop {
      background-color: color-mix(in srgb, var(--clr-bg) 70%, transparent);
      backdrop-filter: blur(5px);

      /* starting style for overlay transition */
      @starting-style {
        background-color: color-mix(in srgb, var(--clr-bg) 0%, transparent);
        backdrop-filter: blur(0);
      }
    }
  }

  @media (width > 560px) {
    inline-size: 70%;
  }
}
