.main-grid {
  --column-count: 12;
  --content-max-width: 1290px;
  --grid-col-max-width: calc(var(--content-max-width) / var(--column-count));

  display: grid;
  grid-template-columns:
    [fullbleed-start]
    minmax(var(--gutter), 1fr)
    [content-start]
    repeat(var(--column-count), minmax(0, var(--grid-col-max-width)))
    [content-end]
    minmax(var(--gutter), 1fr)
    [fullbleed-end];
}

.main-grid > * {
  grid-column: fullbleed;
}

.main-subgrid {
  display: grid;
  grid-template-columns: subgrid;

  > * {
    grid-column: content;
  }
}

.content-width {
  grid-column: content;
}
